*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato',sans-serif;
}

.lang{
    height:50px;
    width:50px;
    margin:10px;
    margin-bottom: 0;
}
.card-title{
    font-size: 24px;
    font-weight: 700;
}
.social{
    height:40px;
    width:40px;
}