* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-title {
  color: #272341;
}
.header-img {
  background-color: transparent;
}
.navbar-brand {
  margin-left: 80px;
  color: #272341;
  letter-spacing: 0.1em;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  font-family: "Dancing Script", cursive;
}
.navbar-brand:hover {
  background-color: rgba(39, 35, 65, 0.1);
}
.navbar-nav {
  margin-right: 20px;
}

.nav-item {
  margin-right: 30px;
}
.btn.outline {
  background: none;
  border: 2px solid #272341;
  color: #272341;
}
.btn.outline:hover,
.btn.outline:active,
.btn.outline:focus {
  background-color: #272341;
  color: white;
  border: 2px solid #272341;
}
.lang {
  height: 50px;
  width: 50px;
  margin: 10px;
  margin-bottom: 0;
}
.card-title {
  font-size: 24px;
  font-weight: 700;
}
.social {
  height: 40px;
  width: 40px;
}
.about,
.projects,
.skills,
#contact {
  padding-top: 60px;
  min-height: 100vh;
}
.icon{
    height:24px;
    width:24px;
}
.social:hover{
    transform: scale(1.05);
}
@media (max-width: 992px) {
  .navbar-brand {
    margin-left: 10px;
  }
}
@media (max-width: 767.98px) {
  .contact {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
}
@media (max-width: 576px) {
  .contact {
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 8px;
  }
}
